section.banner{
	padding: 70px 0 200px;
	@media (max-width: 991px) {
		padding: 70px 0;
	}
	position: relative;
	overflow: hidden;
	.bg-container{
		position: absolute;
    	z-index: -1;
    	top: 0;	
    	width: 100%;
    	height: 100%;
		img{
			display: block;
			width: 100%;
			object-fit: cover;
			position: relative;
			height: 100%;
		}
		.banner-overlay{
			background: rgba(19, 28, 32, 0.6);
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 2;
			top: 0;
		}
		.skew-bg{
			width: 100%;
			position: absolute;
			bottom: 0;
			z-index: 4;
			img{
				object-fit: contain;
				height: auto;
			}
		}
	}
	.title-con{
		@media (max-width: 767px) {
			padding-left: 20px;
			padding-right: 20px;
		}
		h1{

		}
		p{
			margin-top: 20px;
			font-size: 20px;
			line-height: 28px;
			color: $color-2;
			font-family: $font-4;
		}
	}
	.form-con{
		@media (max-width: 991px) {
			padding: 40px 30px 20px;
		}
		@media (max-width: 425px) {
			padding: 40px 10px 20px;
		}
	}
}


.banner.yes{
	padding: 70px 0 70px;
	@media (max-width: 991px) {
		padding: 70px 0 60px;
	}
	.bg-container{
		@media (max-width: 991px) {
			height: 40%;
		}
	}
}

.banner.no{
	padding: 120px 0 200px;
	margin-bottom:3em;
}