footer{
	background: #646464;
	color:#fff;
	margin-bottom:99px;
	
	.footer-top{
		padding:55px 0 95px;
		@media (max-width: 991px) {
			padding:45px 0 25px;
		}
		.footer-logo-con{
			.footer-logo{
				margin-bottom: 40px;
				display: block;				
				img{
					display: block;
					width: 100%;
					max-width: 180px;
					@media (max-width: 991px) {
						margin: 0 auto;
					}
				}
			}
			p,a{
				font-size: 13px;
				color: $color-2;
				line-height: 18px;
				margin-bottom: 15px;
			}
			.hide-in-mobile{
				@media (max-width: 991px) {
					display: none;
				}
			}
		}
		.footer-menu{
			@media (max-width: 767px) {
				padding-left: 30px;
				padding-right: 30px;
			}
			.more{
				color: $color-2;
				font-family: $font-3;
				font-size: 34px;
				@media (max-width: 991px) {
					text-align: center;
				}
				i{
					margin-left: 10px;
				}
			}
			ul{
				margin: 0;

				li{
					margin-bottom: 15px;
					&:last-child{
						margin-bottom: 0;
					}
					a,p{
						color: $color-2;
						font-size: 15px;
						font-family: $font-3;
						text-transform: uppercase;
						&.alt{
							text-transform: none;
							font-family: $font-1;
						}
					}
				}
			}
			.location{
				@media (max-width: 767px) {
					margin-top: 40px;
				}
			}
		}
		.footer-btn{
			@media (max-width: 991px) {
				margin-top: 50px;
			}
			.btn-green{
				margin-bottom:40px;
				@media (max-width: 499px) {
					margin-bottom: 20px;
				}
			}
			.show-in-mobile{
				display: none;
				@media (max-width: 991px) {
					display: block;
					margin: 0 auto;
					text-align: center;
				}
				p{
					font-size: 13px;
					color: $color-2;
					line-height: 18px;
					@media (max-width: 499px) {
						margin-top: 20px;
					}
					a{
						border-bottom: 1px solid $color-2;
					}
				}
			}
			.btn-con{
				@media (max-width: 499px) {
					max-width: 100%;
    				flex: 0 0 100%;
				}
			}
		}
	}
	
	.footer-bottom{
		display: none;
		height: 99px;
		background: $bg-color-3;
		border-top: 1px solid $color-2;
		position:fixed;
		width:100%;
		bottom:0;
		p,.btn-txt{
			font-size: 24px;
			color: $color-2;
			font-family: $font-3;
			margin-bottom: 0;
			margin-right: 35px;
			@media (max-width: 767px) {
				margin-right: 0;
				padding: 0 20px;
			}
		}
		p {
			@media (min-width: 768px) {
				text-align: right;
			}
		}
		.btn {
			width: 80%;
			&:focus {
				color: $color-3;
			}
		}
		.container {
			height: 100%;
		}
		.row {
			height: 100%;
			align-items: center;
		}
	}
}