section.free-quote{
	padding: 70px 0 85px;
	height: 523px;
	@media (max-width: 991px) {
		height: auto;
		padding-top:0;
	}
	@media (max-width: 767px) {
		padding: 70px 0 55px;
	}
	.logo-con{
		max-width: 244px;
		@media (max-width: 767px) {
			display:none;
		}
	}
	h3{
		font-family: $font-3;
		color: $color-5;
		font-size: 46px;
		line-height: 58px;
		letter-spacing: -2px;
		padding:30px 0;
		max-width:400px;
		@media (max-width: 991px) {
			padding-top:0;
		}
	}
	.btn{
		max-width: 280px;
		@media (max-width: 991px) {
			margin-bottom:40px;
		}
	}
	h4{
		font-family: $font-4;
		color: $color-1;
		font-size: 25px;
		line-height: 35px;
		font-weight: 500;
		margin-bottom: 30px;
	}
	p{
		font-family: $font-4;
		color: $color-5;
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 30px;
	}
}

.custom-form {
	#field_4_1 {
		label {
			&.gfield_label_before_complex {
				display: none;
			}
		}
	}
}