.generic{
	margin: 45px 0 110px;
	h2{
		color: $color-5;
		font-size: 45px;
		line-height: 57px;
		font-family: $font-3;
		margin-bottom: 30px;
		letter-spacing: -1.2px;
	}
	p{
		font-family: $font-4 ;
		color: $color-1;
		font-size: 16px;
		line-height: 25px;
		margin-bottom: 25px;
	}
	a{
		color:$color-6;
		border-bottom: 1px solid $color-6;
		&:hover{
			color:$color-4;
			border-bottom: 1px solid $color-4;
		}
	}
}