section.sales-team{
	background: $bg-color-2;
	height: 210px;
	display: flex;
	align-items: center;
	@media (max-width: 991px) {
		height: auto;
        padding: 30px 0;
        margin-top:3em;
	}
	h3{
		font-family: $font-3;
		color: $color-2;
		font-size: 26px;
		line-height: 48px;
		span{
			font-size: 46px;
		}
	}
	p{
		font-family: $font-4;
		font-weight: 500;
		color: $color-2;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 25px;
    }
    .text-col a{
        border-bottom:1px solid #fff;
        color:#fff;
        &:hover{
            border-bottom:1px solid $color-6;
        }
    }
	.btn{
		color: $color-4;
		max-width: 265px;
		&:hover{
			color: $color-2;
			&:before{
				background: $bg-color-3;
			}
		}
	}
}