section.testimonials{
	padding: 70px 0 70px;
	height: auto;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	@media (max-width: 991px) {
		height: auto;
	}
	@media (max-width: 767px) {
		display: none;
	}
	h2{
		font-size: 55px;
		line-height: 68px;
		font-family: $font-3;
		color: $color-2;
		text-align: center;
		margin-bottom: 40px;
	}
	p{
		font-size: 20px;
		line-height: 28px;
		font-family: $font-4;
		color: $color-2;
		text-align: center;
		max-width: 980px;
		margin: 0 auto;
	}
	h5{
		font-size: 25px;
		line-height: 68px;
		font-family: $font-3;
		color: $color-2;
		text-align: center;
		margin: 30px 0 20px;
	}
	.btn{
		max-width: 350px;
		margin:0 auto;
	}
}

/**/
.page-home {
	.testimonials {
		padding: 90px 0 120px;
		height: 600px;
		@media (max-width: 991px) {
			height: auto;
		}
		.btn{
			background: $bg-color-3;
			color: $color-2;
			&:before{
				background: $bg-color-2;
			}
			&:hover{
				color: $color-2;

			}
		}
	}
}