
html {
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    margin:0 !important;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1.4rem;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}

*, *:hover, *:focus {
    outline:0 !important;
}

.transition, %transition {
    transition:all 0.3s ease-in-out;
}

.show-mobile{
    display: none;
    @media (max-width: 991px) {
        display: block;
    }
}

h1{
    font-size: 75px;
    font-family: $font-3;
    line-height: 68px;
    color: $color-2;
    @media (max-width: 991px) {
        font-size: 61px;
    }
    &:after{
        content: "";
        display: block;
        width: 100px;
        height:5px;
        background: $bg-color-3;
        margin-top: 20px;
    }
}
h2{

}
h3{

}
h4{

}
h5{

}
p{
    margin: 0;
    font-family: $font-4;
}
a{
    text-decoration: none;
    font-family: $font-4;
    transition: color 0.5s ease;
}


/*override bootstrap*/
.container{
    @media (min-width: 1200px) {
        max-width: 1180px;
    }
}
.row{
    margin-right: -10px;
    margin-left: -10px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
    padding-right: 10px;
    padding-left: 10px;
}

.container{
    @media (max-width: 991px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media (max-width: 767px) {
        max-width:100%;
    }
    @media (max-width: 425px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}