/*Colors*/
$color-1 : #666666;
$color-2 : #ffffff;
$color-3 : #0093d0; /*blue*/
$color-4 : #00a950; /*green*/ 
$color-5 : #646464;
$color-6:  #333; // grey

/*Background Colors*/
$bg-color-1: #ffffff;
$bg-color-2: #00a950; /*green*/   
$bg-color-3: #0093d0; /*blue*/

/*font*/
$font-1 : 'AvenirNext';
$font-2 : 'AvenirNextDemi';
$font-3 : 'AvenirNextBold';
$font-4 : 'Roboto', sans-serif;

