name: Deploy to WP Engine Production

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to WP Engine
        uses: wpengine/github-action-wpe-site-deploy@v3
        with:
          WPE_SSHG_KEY_PRIVATE: ${{ secrets.WPE_SSHG_KEY_PRIVATE }}
          WPE_ENV: kenlow
          SRC_PATH: ./
          REMOTE_PATH: wp-content/themes/kenlow/
          FLAGS: -azvr --inplace --delete --exclude=".*" --exclude="node_modules/" --exclude="assets/src/" --exclude="gulp/" --exclude="*.md" --exclude="package*.json" --exclude="gulpfile.js" --exclude=".eslintrc"
          PHP_LINT: FALSE
          CACHE_CLEAR: FALSE
