.two-col, .one-col{
	margin-bottom:3em;

	h2{
		color: $color-5;
		font-size: 45px;
		line-height: 57px;
		font-family: $font-3 ;
		margin-bottom: 30px;
		letter-spacing: -1.2px;
	}
	p{
		font-family: $font-4 ;
		color: $color-1;
		font-size: 16px;
		line-height: 25px;
		margin-bottom: 25px;
		a{
			border-bottom: 1px solid $color-3;
			color: $color-3;
		}
	}
	
}
.one-col{
	margin-bottom: 100px;
	h3{
		color: $color-5;
		font-size: 45px;
		line-height: 57px;
		font-family: $font-3 ;
		margin-bottom: 30px;
		letter-spacing: -1.2px;
	}
	.tool-bag-img{
		margin: 30px auto;
	}
}